# Node modules and package manager files
/node_modules
/.pnp
.pnp.js

# Testing coverage reports
/coverage

# Next.js build output and static export
/.next/
/out/

# Production build output
/build

# Miscellaneous files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env*.local
.env
.env.local

# Vercel deployment
.vercel

# TypeScript build info
*.tsbuildinfo
next-env.d.ts
